{% extends "base.html" %}
{% block css %}
<link rel="stylesheet" href = "../static/css/app.css">
{% endblock%}

{% block main %}  
    <div class="profile">
      <div class="box"><h1>User Profiles </h1></div>
      <br>
      <div><img src="{{ url_for('static', filename='{{profilepic}}') }}"></div>
      <div><h2>{{fname}} {{lname}}</h2></div>
      <div class="box"><p>Profile Created On:{{now}}</p></div>

      <div class="box">
        <p>Username: {{username}}</p>
        <p>User ID: {{userid}}</p>
        <p>Gender: {{gender}}</p>
        <p>Age: {{age}}</p>
        
        <p>bio</p>
        <p>{{message}}</p>
      </div>
    </div>
{% endblock %}